### 1. Dataset: product-info.csv containing columns like Product ID, Product Name, Price,Quantity Sold, and Sales Date.
### Problem: Write a Python program to calculate the total sales, average sales price, and the standard deviation of sales prices. Additionally, identify the product with the highest and lowest average sales price.

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('datasets/product-info.csv')

In [4]:
df

   Product ID    Product Name  Price  Quantity Sold  Sales Date
0         101      Blue Jeans  59.99             20  2023-12-15
1         102       Red Shirt  24.99             35  2023-12-20
2         103     Black Shoes  79.99             15  2023-12-25
3         104    Green Jacket  99.99             10  2023-12-30
4         105  White Sneakers  64.99             25  2024-01-05
5         106      Gray Pants  49.99             40  2024-01-10
6         107    Yellow Dress  39.99             30  2024-01-15
7         108      Brown Belt  19.99             50  2024-01-20
8         109      Purple Hat  14.99             60  2024-01-25
9         110    Orange Socks   9.99             75  2024-01-30

In [8]:
print('Total sales: '+ str(sum(df['Quantity Sold'])))

Total sales: 360

In [10]:
print('avg sales price: '+ str(df['Price'].mean()))

avg sales price: 46.49

In [11]:
print('standard deviation of sales prices: '+ str(df['Price'].std()))

standard deviation of sales prices: 29.91190769948019

In [13]:
print('lowest average sales price: '+ str(df['Price'].min()))

lowest average sales price: 9.99

In [14]:
print('highest average sales price: '+ str(df['Price'].max()))

highest average sales price: 99.99

###  2. Dataset: A CSV file customer-satisfaction.csv with columns such as Customer ID,Satisfaction Rating (scale of 1-10), Age, and Gender.
### Problem: Create a Python program to calculate the mean, median, and mode of the satisfaction ratings. Analyze the data by grouping it by age groups and gender to identify any trends

In [3]:
df1 = pd.read_csv('datasets/customer-satisfaction.csv')

In [4]:
df1.describe()

       Customer ID  Satisfaction Rating        Age     Gender
count     20.00000            20.000000  20.000000  20.000000
mean      10.50000             5.500000  41.450000   0.500000
std        5.91608             2.946898  12.513046   0.512989
min        1.00000             1.000000  22.000000   0.000000
25%        5.75000             3.000000  32.750000   0.000000
50%       10.50000             5.500000  39.500000   0.500000
75%       15.25000             8.000000  52.000000   1.000000
max       20.00000            10.000000  62.000000   1.000000

In [6]:
print('Mean,median,mode of satisfaction ratings are : '+ str(df1['Satisfaction Rating'].mean())+str(df1['Satisfaction Rating'].median())+ str(df1['Satisfaction Rating'].mode()))

Mean,median,mode of satisfaction ratings are : 5.55.50     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Satisfaction Rating, dtype: int64

In [11]:
new_df1=df1.groupby('Gender')['Age']

In [12]:
new_df1.agg(np.mean)

Gender
0    38.9
1    44.0
Name: Age, dtype: float64

In [13]:
df1

    Customer ID  Satisfaction Rating  Age  Gender
0             1                    8   32       0
1             2                    7   45       1
2             3                    9   28       0
3             4                    6   51       1
4             5                   10   37       0
5             6                    5   22       1
6             7                    4   60       0
7             8                    3   42       1
8             9                    2   35       0
9            10                    1   58       1
10           11                    8   27       0
11           12                    7   40       1
12           13                    9   33       0
13           14                    6   55       1
14           15                   10   39       0
15           16                    5   24       1
16           17                    4   62       0
17           18                    3   44       1
18           19                    2   36       0
19           20                    1   59       1

In [15]:
# Define age groups
bins = [0, 18, 30, 45, 60, 100]
labels = ['<18', '18-30', '30-45', '45-60', '60+']

# Create a new column with age groups
df1['Age Group'] = pd.cut(df1['Age'], bins=bins, labels=labels, right=False)

# Group by age group and calculate statistics
grouped = df1.groupby('Age Group').agg({'Age': ['count', 'mean']})

print(grouped)

            Age
          count       mean
Age Group
<18           0        NaN
18-30         4  25.250000
30-45         9  37.555556
45-60         5  53.600000
60+           2  61.000000

In [18]:
# Define age groups
bins = [20, 30, 40, 50]
labels = ['20-29', '30-39', '40-49']
df1['Age Group'] = pd.cut(df1['Age'], bins=bins, labels=labels)

# Group by age group and gender
grouped = df1.groupby(['Age Group', 'Gender']).agg({'Satisfaction Rating': 'mean'})

print(grouped)

                  Satisfaction Rating
Age Group Gender
20-29     0                  8.500000
          1                  5.000000
30-39     0                  6.833333
          1                  7.000000
40-49     0                       NaN
          1                  4.333333

In [16]:
df2 = pd.read_csv('datasets/customers.csv')

In [18]:
df2.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [21]:
df2['Yearly Amount Spent'].max(), df2['Yearly Amount Spent'].min(), df2['Yearly Amount Spent'].sum()

(765.5184619388373, 256.67058229005585, 249657.01912929525)

In [26]:
 df2['Yearly Amount Spent'].mean(), df2['Yearly Amount Spent'].median(),

(499.3140382585909, 498.88787546911493)

In [25]:
df2['Yearly Amount Spent'].mode()

0      256.670582
1      266.086341
2      275.918421
3      282.471246
4      298.762008
          ...
495    708.935185
496    712.396327
497    725.584814
498    744.221867
499    765.518462
Length: 500, dtype: float64

In [24]:
df2['Yearly Amount Spent'].std()

79.31478154970677

### 3. Dataset: A CSV file house-info.csv containing columns such as House ID, Location, Number of Bedrooms, Square Footage, and Price.
### Problem: Develop a Python program to calculate the first, second (median), and third quartiles of house prices. Also, compute the interquartile range (IQR) and identify any outliers in the dataset

In [27]:
df3 = pd.read_csv('datasets/house-info.csv')

In [28]:
df3

    House ID  Location  Number of Bedrooms  Square Footage     Price
0          1  Suburban                   3            1800  $350,000
1          2     Urban                   2            1200  $280,000
2          3     Rural                   4            2500  $400,000
3          4  Suburban                   3            1600  $320,000
4          5     Urban                   1             800  $200,000
5          6     Rural                   5            3000  $450,000
6          7  Suburban                   2            1400  $290,000
7          8     Urban                   3            1600  $310,000
8          9     Rural                   4            2800  $420,000
9         10  Suburban                   3            1700  $330,000
10        11     Urban                   2            1100  $270,000
11        12     Rural                   5            3200  $470,000
12        13  Suburban                   3            1500  $900,000
13        14     Urban                   1             900  $210,000
14        15     Rural                   4            9600  $410,000
15        16  Suburban                   3            1800  $340,000
16        17     Urban                   2            1200  $280,000
17        18     Rural                   5            2500  $400,000
18        19  Suburban                   3            1600  $320,000
19        20     Urban                   1             800  $200,000
20        21     Rural                   4            3000  $950,000
21        22  Suburban                   2            1400  $290,000
22        23     Urban                   3            1600  $310,000
23        24     Rural                   4            2800  $420,000
24        25  Suburban                   3            1700  $330,000

In [40]:
(df3['Price'].str.lstrip('$')).str.replace(',', '').median()

330000.0

In [44]:
num=(df3['Price'].str.lstrip('$')).str.replace(',', '').astype(int)

In [45]:
np.percentile(num, 25), np.percentile(num, 50), np.percentile(num, 75),

(290000.0, 330000.0, 410000.0)

In [46]:
Q1 = np.percentile(num, 25)
Q3 = np.percentile(num, 75)

IQR = Q3 - Q1
upper_fence = Q3 + 1.5 * IQR
lower_fence = Q1 - 1.5 * IQR

In [47]:
num[num > upper_fence]

12    900000
20    950000
Name: Price, dtype: int32

In [48]:
lower_fence, upper_fence

(110000.0, 590000.0)

### 4. Dataset: A CSV file visitor-info.csv with columns such as Date, Number of Visitors, Average Session Duration, Bounce Rate, and Conversion Rate.
### Problem: Create a Python program to analyze the average, minimum, and maximum number of visitors per day. Investigate the relationship between bounce rate and conversion rate using correlation analysis

In [49]:
df4 = pd.read_csv('datasets/visitor-info.csv')

In [50]:
df4

,Date,Number of Visitors,Average Session Duration (seconds),Bounce Rate (%),Conversion Rate (%)
0,2023-12-01,5000,120,25,2.0
1,2023-12-02,4500,130,22,3.0
2,2023-12-03,5500,115,28,1.5
3,2023-12-04,6000,125,20,2.5
4,2023-12-05,4800,135,23,2.0
5,2023-12-06,5200,120,25,2.2
6,2023-12-07,4700,130,22,2.8
7,2023-12-08,5600,115,28,1.7
8,2023-12-09,6200,125,20,2.7
9,2023-12-10,4900,135,23,2.1
10,2023-12-11,5100,120,25,2.3
11,2023-12-12,4600,130,22,2.9
12,2023-12-13,5400,115,28,1.8
13,2023-12-14,6100,125,20,2.6
14,2023-12-15,5000,135,23,2.2
15,2023-12-16,4500,120,25,2.4
16,2023-12-17,5500,130,22,2.7
17,2023-12-18,6000,115,28,1.6
18,2023-12-19,4800,125,20,2.5
19,2023-12-20,5200,135,23,2.1
20,2023-12-21,4700,120,25,2.3
21,2023-12-22,5600,130,22,2.9
22,2023-12-23,6200,115,28,1.8
23,2023-12-24,4900,125,20,2.6
24,2023-12-25,5100,135,23,2.2
25,2023-12-26,4600,120,25,2.4
26,2023-12-27,5400,130,22,2.7
27,2023-12-28,6100,115,28,1.6
28,2023-12-29,5000,125,20,2.5

In [55]:
import statistics
def analyze_visitors(visitors):
    """Analyzes visitor data and prints average, minimum, and maximum values."""

#     if not visitors:
#         print("No visitor data provided.")
#         return

    average_visitors = statistics.mean(visitors)
    min_visitors = min(visitors)
    max_visitors = max(visitors)

    print("Average visitors per day:", average_visitors)
    print("Minimum visitors per day:", min_visitors)
    print("Maximum visitors per day:", max_visitors)

In [56]:
visitor_data =df4['Number of Visitors'].astype(int)
analyze_visitors(visitor_data)

Average visitors per day: 5248.275862068966
Minimum visitors per day: 4500
Maximum visitors per day: 6200

In [ ]:
# Investigate the relationship between bounce rate and conversion rate using correlation analysis

In [57]:
df4['Bounce Rate (%)'].corr(df4['Conversion Rate (%)'])

-0.8166050475362996

In [60]:
print(df4['Bounce Rate (%)'].corr(df4['Conversion Rate (%)'], method='spearman'))
print(df4['Bounce Rate (%)'].corr(df4['Conversion Rate (%)'], method='kendall'))
print(df4['Bounce Rate (%)'].corr(df4['Conversion Rate (%)'], method='pearson'))

-0.8088159148927542
-0.6002266781177342
-0.8166050475362996

### 5. Dataset: A dataset with columns (purchase-info.csv) such as Customer ID, Purchase Amount, Purchase Date, and Category.
### Problem: Develop a Python program to calculate the average purchase amount for each category. Also, find the most frequent purchase category and the customer who made the most purchases

In [61]:
df5 = pd.read_csv('datasets/purchase-info.csv')

In [62]:
df5

    Customer ID  Purchase Amount Purchase Date     Category
0          1001               50    2023-12-01  Electronics
1          1002               25    2023-12-02     Clothing
2          1003               75    2023-12-03   Home Goods
3          1004               40    2023-12-04  Electronics
4          1005               30    2023-12-05     Clothing
5          1006               60    2023-12-06   Home Goods
6          1007               20    2023-12-07  Electronics
7          1008               55    2023-12-08     Clothing
8          1009               80    2023-12-09   Home Goods
9          1010               35    2023-12-10  Electronics
10         1011               28    2023-12-11     Clothing
11         1012               65    2023-12-12   Home Goods
12         1013               18    2023-12-13  Electronics
13         1014               52    2023-12-14     Clothing
14         1015               78    2023-12-15   Home Goods
15         1016               32    2023-12-16  Electronics
16         1017               26    2023-12-17     Clothing
17         1018               63    2023-12-18   Home Goods
18         1019               16    2023-12-19  Electronics
19         1020               54    2023-12-20     Clothing
20         1021               76    2023-12-21   Home Goods
21         1022               34    2023-12-22  Electronics
22         1023               27    2023-12-23     Clothing
23         1024               62    2023-12-24   Home Goods
24         1025               17    2023-12-25  Electronics
25         1026               53    2023-12-26     Clothing
26         1027               75    2023-12-27   Home Goods
27         1028               35    2023-12-28  Electronics
28         1029               28    2023-12-29     Clothing
29         1030               65    2023-12-30   Home Goods

In [63]:
avg_price = df5.groupby('Category')['Purchase Amount'].agg(np.mean)

In [64]:
avg_price

Category
Clothing       37.8
Electronics    29.7
Home Goods     69.9
Name: Purchase Amount, dtype: float64

In [78]:
most_freq_pur_cat = df5.groupby('Category')['Purchase Amount'].agg(np.max)

In [82]:
most_freq_pur_cat[[most_freq_pur_cat.idxmax()]]

Category
Home Goods    80
Name: Purchase Amount, dtype: int64

In [81]:
print('most frequent purchase category :', most_freq_pur_cat[[most_freq_pur_cat.idxmax()]])

most frequent purchase category : Category
Home Goods    80
Name: Purchase Amount, dtype: int64

In [88]:
df5['Customer ID']

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
Name: Customer ID, dtype: int64

In [93]:
most_freq_pur_cust = df5.groupby('Category')['Purchase Amount'].agg(np.max)

In [94]:
most_freq_pur_cust

             Purchase Amount
Category
Clothing                  55
Electronics               50
Home Goods                80

In [113]:
category=most_freq_pur_cust.groupby('Category')['Purchase Amount'].max()
print('most frequent category: ',category.idxmax())
fre_cat=category.idxmax()

most frequent category:  Home Goods

In [114]:
newdf=df5.loc[df5['Category'] == fre_cat]

In [115]:
newdf

    Customer ID  Purchase Amount Purchase Date    Category
2          1003               75    2023-12-03  Home Goods
5          1006               60    2023-12-06  Home Goods
8          1009               80    2023-12-09  Home Goods
11         1012               65    2023-12-12  Home Goods
14         1015               78    2023-12-15  Home Goods
17         1018               63    2023-12-18  Home Goods
20         1021               76    2023-12-21  Home Goods
23         1024               62    2023-12-24  Home Goods
26         1027               75    2023-12-27  Home Goods
29         1030               65    2023-12-30  Home Goods

In [118]:
custids=newdf.groupby('Customer ID')['Purchase Amount'].max()
print('most frequent customer ID is: ',custids.idxmax())

most frequent customer ID is:  1009

In [68]:
most_freq_pur_cat

699